
html{
    scroll-behavior: smooth;
}
header{
width: 100%;
height: 80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 100px;
background: #213032 ;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(hero.png);
    background-position: center;
    background-size:cover;
}
.logo{
    font-size: 38px;
    font-weight: bold;
    color: #edffef;
    margin-right: 40px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #213032;
    font-size: 55px;
    margin: 20px 0px 20px;
}
h3{
    color: #465047;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #333834;
    letter-spacing: 2px;
    font-size: 20px;
}
.button{
position: absolute;
background-color:#465047;
color: #fff;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 13px 30px;
transform: .4s;
}
.button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 20px 0px;
    background-color: #314e52;
}
.about img{
    height:550px;
    width: 430px;
    border-radius: 20px 0 20px 0;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text{
    width: 500px;
}
/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 20px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 1005;
    object-fit:cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 110px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
 }
.box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
}
.box .ca-card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.box .ca-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact form*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    background: #182f32;
}
.contact-info,.contact-form{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    color: #edffef;
    font-size: 25px;
}
.contact-info h2, .contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #edffef;
}
.contact-form form{
    text-align: center;
}
.contact-form label, 
.contact-form input , 
.contact-form textarea ,
 .contact-form button {
display: block;
width: 100%;
margin-bottom: 10px;
}
.contact-form button{
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 10px 0px;
}
.contact-form button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.contact-form label{
    text-align: left;
    color: #edffef;
}
.contact-form input, .contact-form textarea{
    padding: 8px;
}
.contact-info p{
padding: 15px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}
.social-icon:hover{
    color: #314e52;
    cursor: pointer;
}
footer{
    padding: 20px 0;
    background: #182f32;
}
footer h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}

#recipeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
    padding: 20px;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    font-size: 16px;
    background-color: #213032;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --border-color: #213032;
    --w-image: 500px;
    --calculate: calc(3 / 2);
}

header {
    display: grid;
    grid-template-columns: 80px 1fr calc(var(--w-image) * var(--calculate));
    grid-template-rows: 80px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

header .logo img {
    width: 80%;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #000;
    font-weight: 400;
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}

header nav {
    border-left: 1px solid var(--border-color);
}

.carousel {
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel .list {
    height: 100%;
    position: relative;
}

.carousel .list::before {
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}

.carousel .list::after {
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px 50px 110px 230px;
    filter: blur(150px);
    opacity: 0.6;
}

.carousel .list .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
    display: block;
}

/* Updated Image Section */
.carousel .list .item .image {
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.carousel .list .item .image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 30px #0002;
    transition: transform 0.3s ease;
}

.carousel .list .item .image img:hover {
    transform: scale(1.05);
}

.carousel .list .item .image figcaption {
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 1.1rem;
    color:whitesmoke;
    width: 100%;
    max-width: 90%;
    line-height: 1.4;
    text-align: center;
}

.carousel .list .item .main-content {
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}

.carousel .list .item .main-content .content {
    padding: 150px 20px 20px 80px;
}

.carousel .list .item .main-content .content h2 {
    font-size: 3em;
    font-family: 'Aboreto', cursive;
}

.carousel .list .item .main-content .content .price {
    font-family: 'Aboreto', cursive;
    font-size: 3em;
    margin: 20px 0;
}

.carousel .list .item .main-content .content .addToCard {
    background-color:#9bced4;
    color:#182f32;
    padding: 10px 30px;
    font-family: Poppins, sans-serif;
    font-size: large;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.carousel .list .item .main-content .content .addToCard:hover{
 background-color: #182f32;
 color:#ccc;
}

.arrows {
    position: absolute;
    bottom: 20px;
    width: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
    z-index: 10;
}

.arrows button {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color:whitesmoke;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
    box-shadow: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
}

.arrows button:hover {
    background-color:#d6d1d1;
    color:#182f32;
}

/* Animations */
.carousel .list .item.active {
    z-index: 2;
    animation: showContent 1s ease-in-out 1 forwards;
}

.carousel .list .item.other_1,
.carousel .list .item.other_2 {
    pointer-events: none;
}

@keyframes showContent {
    from {
        clip-path: circle(0% at 70% 50%);
    }
    to {
        clip-path: circle(100% at 70% 50%);
    }
}

/* Next Animations */
.next .item.other_1 {
    z-index: 1;
}

.next .item .image img,
.next .item .image figcaption {
    animation: effectNext 0.5s ease-in-out 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(calc(var(--transform-from)));
    }
    to {
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}

.next .item.active .image {
    --transform-from: var(--w-image);
}

.next .item.other_1 .image {
    --transform-from: 0px;
    z-index: 3;
    overflow: hidden;
}

.next .item.other_2 .image {
    --transform-from: calc(var(--w-image) * 2);
    z-index: 3;
}

/* Prev Animations */
.prev .list .item .image img,
.prev .list .item .image figcaption {
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}

@keyframes effectPrev {
    from {
        transform: translateX(calc(var(--transform-from)));
    }
    to {
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}

.prev .list .item.active .image {
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}

.prev .list .item.other_1 .image {
    --transform-from: 0px;
    z-index: 3;
}

.prev .list .item.other_2 .image {
    --transform-from: var(--w-image);
    z-index: 3;
}

.prev .list .item.other_2 .main-content {
    opacity: 0;
}

/* Responsive Design */
@media screen and (max-width: 1023px) {
    :root {
        --calculate: 1;
        --w-image: 400px;
    }

    .carousel .list .item .main-content .content h2 {
        font-size: 3em;
    }

    .carousel .list .item .image img {
        height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .carousel .list .item .image {
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .carousel .list .item .image img {
        height: 250px;
    }

    .carousel .list .item .image figcaption {
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .carousel .list .item .main-content .content {
        display: none;
    }

    .arrows {
        left: 50%;
        justify-content: center;
        
    }
}



#google_translate_element {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 9999;
  background-color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


